{% extends "base.html" %}


{% block content %}
{% load static %}


<!-- <div class="container-fluid">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1"> -->
    <div class="body">

    <div style="font-family: 'Gugi', sans-serif;">
      <h2>Ratings</h2>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Beer Name</th>
            <th>Beer Rating</th>
            <th>Notes</th>
            <th>Brewer</th>
          </tr>
        </thead>
        <tbody>
          {% for rating in ratings %}
          <tr>
            <td>{{ rating.beer_name }}</td>
            <td>{{ rating.score }}</td>
            <td>{{ rating.notes }}</td>
            <td>{{ rating.brewer }}</td>
            <td><a href="{% url 'rating-edit' rating.id  %}" class="btn btn-primary" value="{{ rating.id }}" name="edit">Edit</a></td>
            <td><a class="btn btn-primary" href="{% url 'rating-delete' rating.id  %}" value="{{ rating.id }}" name="delete" id="delete">Delete</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
          <a class="btn btn-primary" id="new">New</a>


          <div class="hidden1">
            <div class="container-fluid">
              <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                  <h2>Enter a new rating</h2>
                  <form role="form" action="add/" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <p><button type="submit" class="btn btn-primary" id="submit">Submit</button></p>
                  </form>
                  <button class="btn btn-primary" id="cancel">Cancel</button>
                </div>
              </div>
            </div>
        </div>
        </div>
      </div>


    <div class="footer">
      <img src="{% static 'lag_ipa.png' %}" alt="">
    </div>


<script>

$('.hidden1').hide();
$('.hidden1').fadeOut();
$('.hidden1').css('display', 'none');

$('#new').on('click', function() {
  $('.hidden1').show('slow');
  $('.hidden1').fadeIn(500);
  $('html, body').animate({scrollTop:$(document).height()}, 'slow');
});

$('#cancel').on('click', hideAdd);




function hideAdd() {
    $('.hidden1').hide('slow');
    $('.hidden1').fadeOut('slow');
}

$(document).on('click', '#delete', function(event) {

    var sure = confirm('Are you sure you want to delete this?');
    if (!sure) {
      event.preventDefault();
    }
});
</script>

{% endblock %}
